Package: svnnotify
Version: 0.2
Section: misc
Priority: extra
Architecture: all
Depends: python, python-svn, python-notify, python-pip
Installed-Size: 7
Maintainer: mog33 <ctrl.alt.del@gmx.net>
Description: Shows updates of svn repositories
 Shows updates of svn repositories at defined intervals
