Package: svnnotify
Version: 0.1
Section: misc
Priority: extra
Architecture: all
Depends: python, python-svn, python-notify
Installed-Size: 7
Maintainer: Markus Graube <markus.graube@tu-dresden.de>
Description: Ein einfaches Skript
 Shows updates of svn repositories
